[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
xlrd = "*"
docopt = "*"
reportlab = "*"
qrcode = "*"
Pillow = "*"
PyQt5 = "*"
authentik_client = "*"

[dev-packages]

[requires]
python_version = "3.13"
